html {
    scroll-behavior: smooth;
    
}

body {
    color: #666666; 
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    background-color: rg;
    font-family: 'Poppins', sans-serif;
}
